body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;

  .flex-grid {
    display: flex;

    .col {
      padding: 1rem;
    }

    .sidebar {
      background-color: #ececec;
      height: 100vh;
      flex: 1;
    }

    .main {
      flex: 4;
    }
  }
}
